In [1]:
import numpy as np
import pandas as pd
import os
import re

In [2]:
df = pd.read_csv('/Users/Theo/Desktop/14-18/transcription/transcription_sample.csv', sep = ',', index_col=0)

In [3]:
df

,Nom du soldat,Prénom(s),Date de naissance,Lieu de naissance,Numéro de matricule,Nombre de scans,Détail,Lien,labat_id
2481,Sequies,Antoine Mathieu,07/01/1871,Seine,2516.0,2,https://archives.paris.fr//s/17/etats-signalet...,https://archives.paris.fr//arkotheque/arkotheq...,545044
2969,Ottemer,Victor François Arsène,28/04/1874,Seine,2002.0,2,https://archives.paris.fr//s/17/etats-signalet...,https://archives.paris.fr//arkotheque/arkotheq...,624880
1726,Dupont,Gaston Eugène Ernest,13/10/1898,Aisne,2687.0,3,https://archives.paris.fr//s/17/etats-signalet...,https://archives.paris.fr//arkotheque/arkotheq...,12144
2796,Baclet,Jules,13/11/1884,Marne,3009.0,2,https://archives.paris.fr//s/17/etats-signalet...,https://archives.paris.fr//arkotheque/arkotheq...,520991
554,Sansfaute,Georges,04/02/1901,Seine,3193.0,1,https://archives.paris.fr//s/17/etats-signalet...,https://archives.paris.fr//arkotheque/arkotheq...,400449
...,...,...,...,...,...,...,...,...,...
1275,Courtade,Léon Antoine,02/12/1872,Bouches-du-Rhône,4098.0,1,https://archives.paris.fr//s/17/etats-signalet...,https://archives.paris.fr//arkotheque/arkotheq...,569172
2206,Bourdon,René Paul Charles,14/01/1900,Seine-Maritime,747.0,1,https://archives.paris.fr//s/17/etats-signalet...,https://archives.paris.fr//arkotheque/arkotheq...,734017
2540,Neulat,André Hippolyte Benjamin,25/09/1882,Indre,3814.0,1,https://archives.paris.fr//s/17/etats-signalet...,https://archives.paris.fr//arkotheque/arkotheq...,749504
1569,Houdart,Noël Louis Gabriel,25/12/1879,Pyrénées-Atlantiques,920.0,2,https://archives.paris.fr//s/17/etats-signalet...,https://archives.paris.fr//arkotheque/arkotheq...,125912
256,Masson,Albert,10/01/1889,Seine,709.0,3,https://archives.paris.fr//s/17/etats-signalet...,https://archives.paris.fr//arkotheque/arkotheq...,203873

In [4]:
name_list = ['Yacine_Chitour', 'Pauline_Funk', 'Ines_Baude', 'Theo_Boulakia', 'Elma_Steinmann', 'Mathilde_Barbier',
             'Louise_Bur', 'Juliette_Bontemps', 'Romain_Cauliez', 'Maia_Saussier', 'Jeanne_Philippe', 'Luca_Lesport',
             'Mona_Laboule', 'Alix_Ryckewaert', 'Clemence_Fiastre', 'Federica_Dugnani', 'Nicolas_Mariot',
             'Theophile_Miailhe']

In [5]:
len(name_list)

18

In [6]:
jpg_list = []
for subdir, dirs, files in os.walk("/Users/Theo/Desktop/14-18/transcription/total_copy/"):
    for filename in files:
        if filename.lower().endswith('.jpg') or filename.lower().endswith('.jpeg'):
            jpg_list.append(filename)
            
new_df = pd.DataFrame(jpg_list, columns=['file_name'])
new_df['personne'] = np.nan
new_df['fait'] = np.nan

for i in range(len(new_df)):
    if i % 9 == 0:
        new_df.loc[i:i+8, 'personne'] = name_list[i//9]
        
new_df['labat_id'] = new_df['file_name'].apply(lambda x: re.findall(r'^\d+?(?=_)', x)[0])
new_df.loc[162] = ["815346_archives_FRAD075RM_D4R1_1685_0044_D.jpg", 'Theophile_Miailhe', None, '815346']

In [7]:
new_df

,file_name,personne,fait,labat_id
0,125912_archives_FRAD075RM_D4R1_2032_0195_D.jpg,Yacine_Chitour,NaN,125912
1,377217_archives_FRAD075RM_D4R1_1992_0681_D.jpg,Yacine_Chitour,NaN,377217
2,118503_archives_FRAD075RM_D4R1_1579_0647_D.jpg,Yacine_Chitour,NaN,118503
3,211530_archives_FRAD075RM_D4R1_1407_0063_D.jpg,Yacine_Chitour,NaN,211530
4,749504_archives_FRAD075RM_D4R1_1223_0283_D.jpg,Yacine_Chitour,NaN,749504
...,...,...,...,...
158,673999_archives_FRAD075RM_D4R1_0749_0434_D.jpg,Theophile_Miailhe,NaN,673999
159,539490_archives_FRAD075RM_D4R1_1858_0136_D.jpg,Theophile_Miailhe,NaN,539490
160,385726_archives_FRAD075RM_D4R1_0653_0281_D.jpg,Theophile_Miailhe,NaN,385726
161,137726_archives_FRAD075RM_D4R1_0505_0328_D.jpg,Theophile_Miailhe,NaN,137726
162,815346_archives_FRAD075RM_D4R1_1685_0044_D.jpg,Theophile_Miailhe,NaN,815346

In [8]:
ppl = new_df['personne'].unique()

# Create a dictionary to store the new dataframes
personne_dfs = {}

# Loop through unique values and create a new dataframe for each
for personne in ppl:
    personne_dfs[personne] = new_df[new_df['personne'] == personne]

In [9]:
writer = pd.ExcelWriter('/Users/Theo/Desktop/14-18/transcription/groupe_excel.xlsx', engine='openpyxl')

# Loop through dictionary and save each dataframe to a different sheet
for sheetname, df in personne_dfs.items():
    df.to_excel(writer, sheet_name=sheetname, index=False)

# Save the workbook
writer.save()